<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EcoVisionary</title>
    <link
      rel="shortcut icon"
      href="../Public/Images/xml.png"
      type="image/svg+xml"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Public/services.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3"
      id="navBar"
    >
      <div class="col-md-3 mb-2 mb-md-0 ms-5">
        <a
          href="/"
          class="d-inline-flex link-body-emphasis text-decoration-none"
        >
          <img
            src="../Public/Images/Screenshot_2025-01-23_010224-removebg-preview.png"
            alt=""
            width="100"
            height="auto"
          />
        </a>
      </div>

      <ul
        class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 gap-3"
        id="nav-links"
      >
        <li>
          <a
            href="#"
            class="nav-link px-2 active"
            id="navBarList"
            onclick="window.location.href='/home'"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2"
            id="navBarList"
            onclick="window.location.href='/about'"
            >About Us</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2"
            id="navBarList"
            onclick="window.location.href='/products'"
            >Products</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2"
            id="navBarList"
            onclick="window.location.href='/services'"
            >Services</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2"
            id="navBarList"
            onclick="window.location.href='/support'"
            >Support Center</a
          >
        </li>
      </ul>

      <div class="buttons col-md-3 text-end me-5">
        <button
          type="button"
          class="btn-darkmode-toggle"
          id="darkModeToggle"
          onclick="toggleDarkMode()"
        >
          <i class="bx bx-moon"></i>
        </button>
        <a href="#" onclick="window.location.href='/cart'"
          ><img
            src="../Public/Images/cart.png"
            alt=""
            width="45px"
            style="margin-bottom: 5px; margin-left: 5px"
        /></a>
        <a href="#" onclick="redirectToDashboard()"
          ><img
            src="../Public/Images/user-icon.png"
            alt=""
            width="30px"
            style="margin-bottom: 5px; margin-left: 5px"
        /></a>
      </div>
    </header>

    <!-- Main Body -->
    <div class="px-4 pt-5 my-5 text-center">
      <h1 class="display-4 fw-bold">Services Offered by Us</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" data-aos="fade-right" data-aos-duration="500">
          We are dedicated to providing comprehensive waste management solutions
          tailored to meet the unique needs of our clientele. Our goal is to not
          only manage waste but also to promote environmental sustainability
          through innovative approaches and eco-friendly practices. Explore our
          range of services designed to ensure a cleaner, greener future
        </p>
      </div>
      <div class="overflow-hidden" style="max-height: 50vh">
        <div
          class="container px-5"
          data-aos="fade-left"
          data-aos-duration="500"
        >
          <video
            src="../Public/Images/Shipper goes to deliver goods.mp4"
            width="700"
            height="auto"
            autoplay
            loop
          ></video>
        </div>
      </div>
    </div>

    <!-- Steps -->
    <section class="main-body">
      <h3
        class="align-items-center me-5 ms-5 mb-4 pb-4 border-bottom border-success border-1"
        data-aos="fade-up"
        data-aos-duration="500"
      >
        How It Works
      </h3>
      <!-- <div
    class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top border-success"
    id="choose-line"
  ></div> -->
      <ol class="ms-4" data-aos="fade-up" data-aos-duration="600">
        <li><strong>Step 1:</strong> Register and create an account.</li>
        <br />
        <li><strong>Step 2:</strong> Submit artwork or products.</li>
        <br />
        <li><strong>Step 3:</strong> Set prices and details.</li>
        <br />
        <li><strong>Step 4:</strong> List artwork on the marketplace.</li>
        <br />
        <li><strong>Step 5:</strong> Manage sales and earnings.</li>
      </ol>

      <div class="container py-5" id="featured-3">
        <h3
          class="align-items-center me-5 ms-5 mb-4 pb-4 border-bottom border-success border-1"
        >
          Featured Artist
        </h3>
        <div class="artist-card">
          <div
            class="card"
            style="width: 18rem"
            data-aos="fade-left"
            data-aos-duration="500"
          >
            <img
              src="../Public/Images/product1.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">Utensils Stand</p>
              <p class="meta-desc">
                utensils stand is the perfect solution for organizing your
                kitchen tools. Designed with both style and functionality in
                mind, it offers a sleek and modern appearance while ensuring
                durability and stability.
              </p>
              <p class="artist">~ Ron</p>
            </div>
          </div>
          <div
            class="card"
            style="width: 18rem"
            data-aos="fade-left"
            data-aos-duration="600"
          >
            <img
              src="../Public/Images/product2.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">Handpainted Glass Bottle</p>
              <p class="meta-desc">
                A handpainted glass bottle is an artistic container adorned with
                unique designs by Emily. It serves as a decorative piece, adding
                a touch of elegance and personalized charm to any space.
              </p>
              <p class="artist">~ Emily</p>
            </div>
          </div>
          <div
            class="card"
            style="width: 18rem"
            data-aos="fade-left"
            data-aos-duration="700"
          >
            <img
              src="../Public/Images/product3.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">Vase</p>
              <p class="meta-desc">
                A vase is a decorative container, often made from ceramic,
                glass, or metal, used to display flowers or as a standalone
                ornament. Its design and style can range from simple and
                minimalist to vibrant.
              </p>
              <p class="artist">~ Mark</p>
            </div>
          </div>
          <div
            class="card"
            style="width: 18rem"
            data-aos="fade-left"
            data-aos-duration="800"
          >
            <img
              src="../Public/Images/product4.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">Bandharwar</p>
              <p class="meta-desc">
                Bandhanwar, also known as Toran, is a traditional Indian
                decorative hanging crafted from vibrant materials like threads,
                beads, and mirrors. Hung at doorways, it symbolizes prosperity,
                good fortune, and a warm welcome.
              </p>
              <p class="artist">~ Zuck</p>
            </div>
          </div>
          <div
            class="card"
            style="width: 18rem"
            data-aos="fade-left"
            data-aos-duration="800"
          >
            <img
              src="../Public/Images/product7.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">Wooden Tray</p>
              <p class="meta-desc">
                A beautifully arranged wooden tray holding various small plants
                in colorful, patterned mugs and cups. The creative use of
                everyday items as planters adds a unique, vibrant touch to
                indoor gardening, with beautiful design.
              </p>
              <p class="artist">~ Sid</p>
            </div>
          </div>
        </div>
        <div
          class="d-grid gap-2 d-md-flex justify-content-md-center mb-3 my-4 me-3"
        >
          <button
            type="button"
            class="btn btn-primary btn-lg px-4 me-5 border-success"
          >
            See More
          </button>
        </div>
      </div>
    </section>

    <div class="container mb-5" id="custom-cards">
      <h3
        class="align-items-center me-5 ms-5 mb-4 pb-4 border-bottom border-success border-1"
      >
        Categories
      </h3>

      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col" data-aos="fade-up" data-aos-duration="600">
          <div
            class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('../Public/Images/product8.jpg')"
          >
            <div
              class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
            >
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                Artworks & Products
              </h3>
            </div>
          </div>
        </div>

        <div class="col" data-aos="fade-up" data-aos-duration="600">
          <div
            class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('../Public/Images/coursel2.png')"
          >
            <div
              class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
            >
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                Paintings & Frames
              </h3>
            </div>
          </div>
        </div>

        <div class="col" data-aos="fade-up" data-aos-duration="600">
          <div
            class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('../Public/Images/product10.jpg')"
          >
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 pb-5 display-6 lh-1 fw-bold">
                Sculptures
              </h3>
            </div>
          </div>
        </div>

        <div class="col" data-aos="fade-up" data-aos-duration="700">
          <div
            class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('../Public/Images/product12.jpg')"
          >
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 pb-5 display-6 lh-1 fw-bold">
                Recycled Art
              </h3>
            </div>
          </div>
        </div>

        <div class="col" data-aos="fade-up" data-aos-duration="700">
          <div
            class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('../Public/Images/product4.jpg')"
          >
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 pb-5 display-6 lh-1 fw-bold">
                Home Decor
              </h3>
            </div>
          </div>
        </div>

        <div class="col" data-aos="fade-up" data-aos-duration="700">
          <div
            class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('../Public/Images/product13.jpg')"
          >
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 pb-5 display-6 lh-1 fw-bold">
                Accessories
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-act" style="margin-bottom: 40px">
      <div style="position: relative; text-align: center">
        <img
          src="../Public/Images/call-to-action.png"
          alt=""
          width="90%"
          style="border-radius: 10px; filter: brightness(70%)"
        />
        <div
          style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            padding: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
          "
        >
          <h2
            style="
              margin: 0;
              font-size: 2.5rem;
              font-weight: bold;
              letter-spacing: 2px;
            "
            data-aos="fade-up"
            data-aos-duration="600"
          >
            Join us now and start selling!
          </h2>
          <div
            style="margin-top: 20px"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <button
              id="start-selling-btn"
              style="
                background-color: #16742e;
                color: white;
                padding: 15px 30px;
                border: none;
                border-radius: 10px;
                font-weight: bold;
                cursor: pointer;
                font-size: 1rem;
                transition: background-color 0.3s ease, transform 0.3s ease;
              "
              onmouseover="this.style.backgroundColor='#16742e'; this.style.transform='scale(1.1)';"
              onmouseout="this.style.backgroundColor='#24b164'; this.style.transform='scale(1)';"
            >
              Start Selling
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      id="floating-form"
      style="
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        text-align: left;
        transition: transform 0.3s ease;
        width: 80%;
        max-width: 600px;
      "
    >
      <h2 style="text-align: center; color: #000; margin-bottom: 10px">
        Contact Us
      </h2>
      <form id="contact-form" style="color: #000">
        <div style="display: flex; gap: 10px">
          <div style="flex: 1">
            <label for="name">Name:</label><br />
            <input
              type="text"
              id="name"
              name="name"
              style="
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
              "
            />
          </div>
          <div style="flex: 1">
            <label for="email">Email:</label><br />
            <input
              type="email"
              id="email"
              name="email"
              style="
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
              "
            />
          </div>
        </div>
        <div style="display: flex; gap: 10px">
          <div style="flex: 1">
            <label for="address">Address:</label><br />
            <input
              type="text"
              id="address"
              name="address"
              style="
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
              "
            />
          </div>
          <div style="flex: 1">
            <label for="city">City:</label><br />
            <input
              type="text"
              id="city"
              name="city"
              style="
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
              "
            />
          </div>
        </div>
        <div style="display: flex; gap: 10px">
          <div style="flex: 1">
            <label for="state">State:</label><br />
            <input
              type="text"
              id="state"
              name="state"
              style="
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
              "
            />
          </div>
          <div style="flex: 1">
            <label for="pincode">Pincode:</label><br />
            <input
              type="text"
              id="pincode"
              name="pincode"
              style="
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
              "
            />
          </div>
        </div>
        <div style="display: flex; gap: 10px">
          <div style="flex: 1">
            <label for="phone">Phone Number:</label><br />
            <input
              type="text"
              id="phone"
              name="phone"
              style="
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border-radius: 5px;
                border: 1px solid #ccc;
              "
            />
          </div>
        </div>
        <button
          type="submit"
          style="
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 10px;
            width: 100%;
          "
        >
          Submit
        </button>
        <button
          type="button"
          id="close-form-btn"
          style="
            background-color: #ff4500;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 10px;
            width: 100%;
          "
        >
          Close
        </button>
      </form>
    </div>

    <div
      id="loading-indicator"
      style="
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        z-index: 1001;
      "
    >
      <img
        src="../Public/Images/Animation - 1738005517644.gif"
        alt="Loading..."
        style="width: 150px"
      />
    </div>

    <div
      id="thank-you-message"
      style="
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        text-align: center;
      "
    >
      <h2 style="color: #000; font-weight: bold">Thanks for using our Site!</h2>
      <p style="color: #000">
        Your information has been submitted successfully. You will receive a
        call from our side shortly.
      </p>
      <button
        type="button"
        id="close-thank-you-btn"
        style="
          background-color: #19904a;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          margin-top: 10px;
        "
      >
        Close
      </button>
    </div>

    <div class="community main-body py-5">
      <h3
        class="align-items-center me-5 ms-5 mb-4 pb-4 border-bottom border-success border-1"
        data-aos="fade-up"
        data-aos-duration="500"
      >
        Follow Our Community
      </h3>

      <div style="margin-left: 50px">
        <ul class="d-flex gap-3 list-unstyled">
          <li>
            <a href="#"
              ><img
                src="../Public/Images/telegram.png"
                alt=""
                width="30px"
              />Telegram</a
            >
          </li>
          <li>
            <a href="#"
              ><img src="../Public/Images/x icon.png" alt="" width="30px" />X</a
            >
          </li>
          <li>
            <a href="#"
              ><img
                src="../Public/Images/wiki.jpg"
                alt=""
                width="25px"
                style="border-radius: 20px"
              />Wikipedia</a
            >
          </li>
        </ul>
        <p style="color: rgb(86, 85, 85)">
          Explore the links for the Educational Resources.
        </p>
      </div>
    </div>

    <div class="main-body">
      <h3
        class="align-items-center me-5 ms-5 mb-4 pb-4 border-bottom border-success border-1"
        data-aos="fade-up"
        data-aos-duration="500"
      >
        Read Articles
      </h3>
      <div style="margin-left: 49px">
        <p style="color: rgb(86, 85, 85)">
          Read Articles / Blogs regarding to Environmental Issues.
        </p>
      </div>
      <div class="row mb-2">
        <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block text-primary-emphasis"
                >World</strong
              >
              <h3 class="mb-0">Climate Change</h3>
              <div class="mb-1 text-body-secondary">Nov 12</div>
              <p class="card-text mb-auto" style="font-size: 15px">
                Climate change refers to changes in the Earth’s climates, at
                local, regional....
              </p>
              <a
                href="https://studentenergy.org/influencer/climate-change/?gad_source=1"
                class="icon-link gap-1 icon-link-hover stretched-link"
              >
                Continue reading
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img
                src="https://studentenergy.org/site/assets/uploads/2020/06/Climate.Nasa_.Gov-Concentration-of-CO2-1-768x480.jpg"
                alt=""
                width="200"
                height="250"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6" data-aos="fade-right" data-aos-duration="600">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block text-success-emphasis"
                >Environment</strong
              >
              <h3 class="mb-0">Pollution</h3>
              <div class="mb-1 text-body-secondary">Nov 11</div>
              <p class="mb-4">
                Know about the environmental pollution and it's effect on
                earth...
              </p>
              <a
                href="https://kids.britannica.com/students/article/environmental-pollution/276492"
                class="icon-link gap-1 icon-link-hover stretched-link"
              >
                Continue reading
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img
                src="https://cdn.britannica.com/31/138931-050-F91CF403.jpg"
                alt=""
                width="200"
                height="250"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="d-grid gap-2 d-md-flex justify-content-md-center mb-5 my-2 me-3"
      >
        <button
          type="button"
          class="btn btn-primary btn-lg px-4 me-5 border-success"
        >
          <a
            href="https://www.google.com/search?q=articles+about+environment+issues&oq=&gs_lcrp=EgZjaHJvbWUqCQgAEEUYOxjCAzIJCAAQRRg7GMIDMgkIARBFGDsYwgMyCQgCEEUYOxjCAzIJCAMQRRg7GMIDMgkIBBBFGDsYwgMyCQgFEEUYOxjCAzIJCAYQRRg7GMIDMgkIBxBFGDsYwgPSAQsxMjcyMDY2ajBqMagCCLACAQ&sourceid=chrome&ie=UTF-8"
            style="text-decoration: none; color: aliceblue; font-weight: bold"
            >Read More</a
          >
        </button>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer-container">
      <div class="col-md-1 mt-2 mb-md-0 ms-5">
        <a href="/">
          <img
            src="../Public/Images/Screenshot_2025-01-23_010224-removebg-preview.png"
            alt=""
            class="logo"
            width="120"
            height="auto"
          />
        </a>
      </div>
      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>COMPANY</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0">Home</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0">Features</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0">Reviews</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0">About Us</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0">Services</a>
                </li>
              </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
              <h5>SHOP</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0">Products</a>
                </li>
              </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
              <h5>HELP</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0">Support Center</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0">Teams & Conditions</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0">Blogs</a>
                </li>
              </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden"
                    >Email address</label
                  >
                  <input
                    id="newsletter1"
                    type="text"
                    class="form-control"
                    placeholder="Email address"
                  />
                  <button class="btn btn-primary" type="button">
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div
            class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top border-success"
          >
            <p>© 2024 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3">
                <a class="link-body-emphasis" href="#"
                  ><img
                    src="../Public/Images/fb icon.png"
                    alt=""
                    width="24"
                    height="24"
                /></a>
              </li>
              <li class="ms-3">
                <a class="link-body-emphasis" href="#"
                  ><img
                    src="../Public/Images/insta icon.png"
                    alt=""
                    width="30"
                    height="30"
                /></a>
              </li>
              <li class="ms-3">
                <a class="link-body-emphasis" href="#"
                  ><img
                    src="../Public/Images/x icon.png"
                    alt=""
                    width="30"
                    height="30"
                /></a>
              </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>

    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init();

      document.getElementById("start-selling-btn").onclick = function () {
        document.getElementById("floating-form").style.display = "block";
        setTimeout(function () {
          document.getElementById("floating-form").style.transform =
            "translate(-50%, -50%) scale(1)";
        }, 10);
      };

      document.getElementById("close-form-btn").onclick = function () {
        document.getElementById("floating-form").style.transform =
          "translate(-50%, -50%) scale(0)";
        setTimeout(function () {
          document.getElementById("floating-form").style.display = "none";
        }, 300);
      };

      document.getElementById("contact-form").onsubmit = function (event) {
        event.preventDefault();
        document.getElementById("loading-indicator").style.display = "block";
        document.getElementById("floating-form").style.display = "none";
        setTimeout(function () {
          document.getElementById("thank-you-message").style.display = "block";
          document.getElementById("loading-indicator").style.display = "none";
        }, 1000);
      };

      document.getElementById("close-thank-you-btn").onclick = function () {
        document.getElementById("thank-you-message").style.display = "none";
      };

      const toggleDarkMode = () => {
        const body = document.body;
        body.classList.toggle("dark-mode");
        const toggleButton = document.getElementById("darkModeToggle");
        if (body.classList.contains("dark-mode")) {
          toggleButton.innerHTML = "<i class='bx bx-sun'></i>";
          localStorage.setItem("theme", "dark");
        } else {
          toggleButton.innerHTML = "<i class='bx bx-moon'></i>";
          localStorage.setItem("theme", "light");
        }
      };

      window.onload = () => {
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme === "dark") {
          document.body.classList.add("dark-mode");
          document.getElementById("darkModeToggle").innerHTML =
            "<i class='bx bx-sun'></i>";
        }
      };

      function redirectToDashboard() {
  const currentUser = sessionStorage.getItem('currentUser');
  if (currentUser) {
    window.location.href = '/dashboard';
  } else {
    window.location.href = '/login';
  }
}
    </script>
  </body>
</html>
