<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EcoVisionary</title>
        <link rel="stylesheet" href="/Public/login.css">
    </head>
    <body>
        <div class="container">
            <h1 class="heading">Sign Up</h1>
            <div class="form-container">
              <input type="text" id="username" placeholder="Username" class="input-field">
              <input type="password" id="password" placeholder="Password" class="input-field">
              <input type="password" id="confirm-password" placeholder="Re-Enter Password" class="input-field">
              <div class="btn">
                <button class="retro-button">Confirm</button>
                <button id="retro-button" class="retro-button">Sign In</button>
              </div>
              <h4>or</h4>
              <button class="retro-button">Sign Up with Google</button>
            </div>
        </div>
    </body>
</html>