@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #E9ECEF;
    font-family: "Noto Sans", serif;
}

/* NavBar */
header{
    background-image: linear-gradient(to left, #c4ffca, #59ed54);
    border: none !important;
}
#navBarList {
    font-weight: 500;
    color: rgb(43, 42, 42);
}
.nav-link:hover{
    color: #fff !important;
}
.nav-link:active{
    color: #007bff;
}

/* about image */
.about-img {
    width: 95%;
    margin-left: 40px;
}

/* Button style */
.btn-primary{
    background-color: #24b164;
  }
  .btn-primary:hover {
    background-color: #16742e;
  }
  

/* About Page alignment */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About Page elements alignment */

.about-body > h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.about-body > h2 {
    margin-top: 20px;
    font-size: 50px;
    font-weight: bolder;
}

.about-body > h3 {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bolder;
}

.about-body > p {
    font-size: 18px;
    font-weight: 500;
}

/* Login button styling */

#login {
    background-color: #16742e;
    color: aliceblue;
    font-weight: 700;
  }
  #login:hover {
    background-color: #24b164;
  }

/* Sign Up button styling */

.btn-signUp {
    background-color: #24b164;
    color: aliceblue;
    font-weight: 700;
  }
  .btn-signUp:hover {
    background-color: #16742e;
    color: aliceblue;
  }

/* Adjustment in underlines created via divs to highlight the headings */

.py-2 {
    width: 385px;
}

#story-line {
    width: 130px;
}

#offer-line {
    width: 200px;
}

#mission-line {
    width: 165px;
}

#vision-line {
    width: 145px;
}

#choose-line {
    width: 220px;
}

#movement-line {
    width: 270px;
}

.footer-container{
    background-image: linear-gradient(to left, #c4ffca, #59ed54);
    /* background-color: #282A35; */
    color: rgb(35, 35, 35);
  }
  .footer-container li>a{
    color: rgb(55, 55, 55);
  }
  .footer-container a>.logo {
    margin-top: 25px;
    margin-left: 42px;
  }
  