@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: #E9ECEF;
  font-family: "Noto Sans", serif;
}

/* Theme Toggle */

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode .nav-link {
  color: #ffffff;
}
header {
  background-image: linear-gradient(to left, #C2FFC7, #55cb51);
}
body.dark-mode header {
  background-image: linear-gradient(to left, #7cf687, #41bc3d); /* Dark mode gradient */
}

.nav-link {
  color: #000000;
}
#darkModeToggle{
  border: 2px solid;
  border-radius: 50px;
}

body.dark-mode .footer-container {
  background-image: linear-gradient(to left, #7cf687, #41bc3d);
}

body.dark-mode .footer-container li>a {
  color: #000000;
}

/* NavBar */
header{
  background-image: linear-gradient(to left, #c4ffca, #59ed54);
  border: none !important;
}
#navBarList {
  font-weight: 500;
  color: rgb(43, 42, 42);
}
.nav-link:hover{
  color: #fff !important;
}
.nav-link:active{
  color: #007bff;
}
  
  /* Container for the entire form */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
  
/* Login button styling */

#login {
  background-color: #16742e;
  color: aliceblue;
  font-weight: 700;
}
#login:hover {
  background-color: #24b164;
}

/* Sign Up button styling */

.btn-signUp {
  background-color: #24b164;
  color: aliceblue;
  font-weight: 700;
}
.btn-signUp:hover {
  background-color: #16742e;
  color: aliceblue;
}

  /* Heading styles */
.heading {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}
  
  /* Form container styles */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: white;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}
  
  /* Input field styles */
.input-field {
    width: 18rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}
  
.input-field:focus {
    border-color: grey;
    box-shadow: 0 0 4px rgba(65, 65, 66, 0.734);
}
  
  /* Retro button styles */
.retro-button {
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.2s, box-shadow 0.2s;
}
  
.retro-button:hover {
    background-color: rgb(75, 69, 69);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.retro-button:active {
    transform: translateY(2px);
    box-shadow: none;
}