@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #e9ecef;
  font-family: "Noto Sans", serif;
}

/* Theme Toggle */

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode .nav-link {
  color: #ffffff;
}
header {
  background-image: linear-gradient(to left, #c2ffc7, #55cb51);
}
body.dark-mode header {
  background-image: linear-gradient(
    to left,
    #7cf687,
    #41bc3d
  ); /* Dark mode gradient */
}
.nav-link {
  color: #000000;
}
#darkModeToggle{
  border: 2px solid;
  border-radius: 100px;
  background: transparent;
}

body.dark-mode .footer-container {
  background-image: linear-gradient(to left, #7cf687, #41bc3d);
}

body.dark-mode .footer-container li > a {
  color: #000000;
}

/* Nav-Bar styling */
header {
  background-image: linear-gradient(to left, #c2ffc7, #55cb51);
}
#navBarList {
  font-weight: 500;
  color: rgb(43, 42, 42);
}
.nav-link:hover {
  color: #fff !important;
}
.nav-link li > a:active {
  color: #fff;
}
#navbarNav {
  font-size: 18px;
}
/* Custom toastr styles */
#toast-container > .toast-success {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
}

#toast-container > .toast-error {
  background-color: #F44336; /* Red background */
  color: white; /* White text */
}

#toast-container > .toast-warning {
  background-color: #FFC107; /* Yellow background */
  color: black; /* Black text */
}

#toast-container > .toast-info {
  background-color: #2196F3; /* Blue background */
  color: white; /* White text */
}

/* Button style */
.btn-primary {
  background-color: #24b164;
}
.btn-primary:hover {
  background-color: #16742e;
}

/* Login button styling */

#login {
  background-color: #16742e;
  color: aliceblue;
  font-weight: 700;
}
#login:hover {
  background-color: #24b164;
}

/* Sign Up button styling */

.btn-signUp {
  background-color: #24b164;
  color: aliceblue;
  font-weight: 700;
}
.btn-signUp:hover {
  background-color: #16742e;
  color: aliceblue;
}

.icon-link > .bi {
  width: 0.75em;
  height: 0.75em;
}

/* Product stylings */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 690px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device > img {
  right: 10%;
  bottom: -30%;
  width: 320px;
  height: 640px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(0deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.product-device-2 > img {
  height: 700px;
  width: 340px;
  transform: rotate(0deg);
}

#product-div1 {
  background-color: #24b164;
}

#product-div2 {
  background-color: #16742e;
}

.bg-body-tertiary > img {
  width: 100%;
  height: 300px;
  border-radius: 17px 17px 0px 0px;
}

.bg-body-tertiary {
  transition: transform 0.3s ease;
}

.bg-body-tertiary:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.bg-dark > img {
  width: 100%;
  height: 300px;
  border-radius: 17px 17px 0px 0px;
}

.bg-body > img {
  width: 100%;
  height: 300px;
  border-radius: 17px 17px 0px 0px;
}

.my-3 > h2 {
  font-family: devanagari;
  padding-bottom: 10px;
}

.my-3 > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#product-div1 > .my-3 > p {
  color: #e9ecef;
}

#product-div1 > .my-3 > h2 {
  color: #e9ecef;
}

#product-div2 > .my-3 > p {
  color: #e9ecef;
}

#product-div2 > .my-3 > h2 {
  color: #e9ecef;
}

#product-div1 > .my-3 > h4 {
  color: #e9ecef;
}

#product-div2 > .my-3 > h4 {
  color: #e9ecef;
}

.my-3 > h4 {
  padding-bottom: 10px;
}

/* Button stylings*/

.buyNow {
  background-image: linear-gradient(to left, #ecffc4, #bced54);
  border-radius: 55px;
  padding: 10px 15px 10px 15px;
}

.addToCart {
  background-image: linear-gradient(to left, #ecffc4, #bced54);
  border-radius: 55px;
  padding: 10px 10px;
}

/* Footer styling */

.footer-container {
  background-image: linear-gradient(to left, #c4ffca, #59ed54);
  /* background-color: #282A35; */
  color: rgb(35, 35, 35);
}
.footer-container li > a {
  color: rgb(55, 55, 55);
}
.footer-container a > .logo {
  margin-top: 25px;
  margin-left: 42px;
}

/* Extra utilities */


.nav-link-custom {
  margin-top: 10px; /* Adjust as needed */
  margin-left: 5px; /* Adjust as needed */
}

.d-md-none-except-user-icon {
  display: none;
}

@media (max-width: 767.98px) {
  .d-md-none-except-user-icon {
    display: block;
  }
  .d-md-none-user {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    display: none;
  }
}

@media (max-width: 406px) {
  .img-d {
    width: 10px;
  }
  .logo {
    width: 70px;
    height: auto;
  }
  .navbar-toggler{
    margin-right: 5px;
  }
}

@media (min-width: 769px) {
  .logo {
    width: 70px;
    height: auto;
  }
  .img-d {
    width: 50px;
  }
  #navbarNav {
    font-size: 13px;
    margin-left: 50px;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
}
@media (min-width: 1000px) {
  #navbarNav {
    font-size: 17px;
    margin-left: 50px;
  }
  .logo {
    width: 100px;
    height: auto;
  }
}


@media (max-width: 1000px) {
  .logo {
    width: 80px;
    height: auto;
  }
  .img-d {
    width: 120px;
  }
  #navbarNav {
    font-size: 13px;
    margin-right: 50px;
  }
  .car-text-mid {
    font-size: 50px;
  }
  .car-text-left {
    font-size: 50px;
  }
  .car-text {
    font-size: 50px;
  }
}

