@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: #E9ECEF;
  font-family: "Noto Sans", serif;
}

/* Theme Toggle */

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode .nav-link {
  color: #ffffff;
}
header {
  background-image: linear-gradient(to left, #C2FFC7, #55cb51);
}
body.dark-mode header {
  background-image: linear-gradient(to left, #7cf687, #41bc3d); /* Dark mode gradient */
}
.nav-link {
  color: #000000;
}
#darkModeToggle{
  border: 2px solid;
  border-radius: 50px;
}

/* Nav-Bar styling */
header{
  background-image: linear-gradient(to left, #C2FFC7, #55cb51);
}
#navBarList {
  font-weight: 500;
  color: rgb(43, 42, 42);
}
.nav-link:hover{
  color: #fff !important;
}
.nav-link li>a:active{
  color: #fff;
}

/* Login button styling */

#login {
  background-color: #16742e;
  color: aliceblue;
  font-weight: 700;
}
#login:hover {
  background-color: #24b164;
}

/* Sign Up button styling */

.btn-signUp {
  background-color: #24b164;
  color: aliceblue;
  font-weight: 700;
}
.btn-signUp:hover {
  background-color: #16742e;
  color: aliceblue;
}

/* Button style */
.btn-primary{
  background-color: #24b164;
}
.btn-primary:hover {
  background-color: #16742e;
}

.carousel-caption h2 {
  color: white; /* Text color */
  margin-bottom: 20px;
}

/* Carousel Heading style */

.car-text {
  font-size: 70px;
  text-align: right;
  font-weight: 800;
  -webkit-text-stroke: 2px black;
}
.car-text1 {
  font-size: 25px;
  margin-bottom: 20%;
  text-align: right;
  font-weight: 600;
}
.car-text-left {
  font-size: 70px;
  text-align: left;
  font-weight: 800;
  -webkit-text-stroke: 2px black;
}
.car-text-left1 {
  font-size: 25px;
  margin-bottom: 20%;
  text-align: left;
  font-weight: 600;
}
.car-text-mid {
  font-size: 70px;
  text-align: center;
  font-weight: 800;
  -webkit-text-stroke: 2px black;
}
.car-text-mid1 {
  font-size: 25px;
  margin-bottom: 20%;
  text-align: center;
  font-weight: 600;
}


/* Services section styling */

.custom-button {
    background: linear-gradient(to bottom, #007bff, #6cb2ff);
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    align-items: start;
    width: 63px;
}

.custom-button img {
    border-radius: 50%;
}

/* User review annimation */

.col-lg-3 {
  transition: transform 0.3s ease;
}

.col-lg-3:hover {
  transform: scale(1.1);
}


.g-4 > .col {
  transition: transform 0.3s ease;
}

.g-4 > .col:hover {
  transform: scale(1.1);
}

/* User Review Style */
.fw-normal {
  font-size: 20px;
  font-weight: 600;
}

/* Footer styling */

.footer-container{
  background-image: linear-gradient(to left, #c4ffca, #59ed54);
  /* background-color: #282A35; */
  color: rgb(35, 35, 35);
}
.footer-container li>a{
  color: rgb(55, 55, 55);
}
.footer-container a>.logo {
  margin-top: 25px;
  margin-left: 42px;
}