@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: #E9ECEF;
  font-family: "Noto Sans", serif;
}

/* Nav-Bar styling */
header{
  background-image: linear-gradient(to left, #C2FFC7, #55cb51);
}
#navBarList {
  font-weight: 500;
  color: rgb(43, 42, 42);
}
.nav-link:hover{
  color: #fff !important;
}
.nav-link li>a:active{
  color: #fff;
}

/* Login button styling */

#login {
  background-color: #16742e;
  color: aliceblue;
  font-weight: 700;
}
#login:hover {
  background-color: #24b164;
}

/* Sign Up button styling */

.btn-signUp {
  background-color: #24b164;
  color: aliceblue;
  font-weight: 700;
}
.btn-signUp:hover {
  background-color: #16742e;
  color: aliceblue;
}

/* Button style */
.btn-primary{
  background-color: #24b164;
}
.btn-primary:hover {
  background-color: #16742e;
}

.carousel-caption h2 {
  color: white; /* Text color */
  margin-bottom: 20px;
}

/* Styling the images of the carousel */

.carousel-item > img {
  height: 700px;
}

/* Services section styling */

.custom-button {
    background: linear-gradient(to bottom, #007bff, #6cb2ff);
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    align-items: start;
    width: 63px;
}

.custom-button img {
    border-radius: 50%;
}

/* Footer styling */

.footer-container{
  background-image: linear-gradient(to left, #c4ffca, #59ed54);
  /* background-color: #282A35; */
  color: rgb(35, 35, 35);
}
.footer-container li>a{
  color: rgb(55, 55, 55);
}
.footer-container a>.logo {
  margin-top: 25px;
  margin-left: 42px;
}