@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #E9ECEF;
    font-family: "Noto Sans", serif;
}

/* Theme Toggle */

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode .nav-link {
  color: #ffffff;
}
header {
  background-image: linear-gradient(to left, #C2FFC7, #55cb51);
}
body.dark-mode header {
  background-image: linear-gradient(to left, #7cf687, #41bc3d); /* Dark mode gradient */
}
body.dark-mode .footer-container {
  background-image: linear-gradient(to left, #7cf687, #41bc3d); /* Dark mode gradient */
}
.nav-link {
  color: #000000;
}
#darkModeToggle{
  border: 2px solid;
  border-radius: 50px;
}

body.dark-mode .footer-container {
  background-image: linear-gradient(to left, #7cf687, #41bc3d);
}

body.dark-mode .footer-container li>a {
  color: #000000;
}

/* NavBar */
header{
    background-image: linear-gradient(to left, #c4ffca, #59ed54);
    border: none !important;
}
#navBarList {
    font-weight: 500;
    color: rgb(43, 42, 42);
}
.nav-link:hover{
    color: #fff !important;
}
.nav-link:active{
    color: #007bff;
}

/* Button style */
.btn-primary{
    background-color: #24b164;
  }
  .btn-primary:hover {
    background-color: #16742e;
  }
  
/* Login button styling */

#login {
    background-color: #16742e;
    color: aliceblue;
    font-weight: 700;
  }
  #login:hover {
    background-color: #24b164;
  }

/* Sign Up button styling */

.btn-signUp {
    background-color: #24b164;
    color: aliceblue;
    font-weight: 700;
  }
  .btn-signUp:hover {
    background-color: #16742e;
    color: aliceblue;
  }

/* Support section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.support-div-hero {
  max-width: 700px;
  padding: 20px;
}
.support-div-hero>h1{
  font-weight: bold;
}
.support-div-hero>p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.hero-vid video {
  max-width: 80%;
  border-radius: 10px;
}

.support-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#support {
    width: 90px;
    height: 80px;
    border-radius: 40px;
}

/* styling for the body of the support webpage */
.support-div {
    width: 1000px;
}

.support-div > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.support-div > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.support-div > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.img {
    width: 25px;
    height: 20px;
}

.footer-container{
  background-image: linear-gradient(to left, #c4ffca, #59ed54);
  /* background-color: #282A35; */
  color: rgb(35, 35, 35);
}
.footer-container li>a{
  color: rgb(55, 55, 55);
}
.footer-container a>.logo {
  margin-top: 25px;
  margin-left: 42px;
}
